<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <h1>Store</h1>
    <nav>
        <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'store' %}">Home</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'new_book' %}" >New Book</a></li>
        </ul>
    </nav>
<ul>
    {% for book in books %}
    <li><strong>{{ book.title }}</strong> by <em>{{ book.author }}</em>:
    {{ book.description }}. {{book.publish_date }}
    </li>
    {% endfor %}
</ul>
    {{cardinality_text}}

    {% if count == 1 %}
    There is {{count}} book in the store
    {% else %}
    There are {{count}} books in the store
    {% endif %}
</body>
</html>